wheel
setuptools
pyusb
pycryptodome
pycryptodomex
colorama
shiboken6
pyside6
mock
pyserial
flake8
keystone-engine
capstone
unicorn
keystone
fusepy

requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
